@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../src/assets/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  @apply bg-slate-950 text-white;
  font-family: "Satoshi-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
